<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Propriedades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet.draw.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="closed-sidebar">
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h3>Busca de Proprietário</h3>
            <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>
        </div>
        <form method="GET" action="/buscar_proprietario">
            <div class="form-group">
                <label for="latitude">Latitude:</label>
                <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitude">
            </div>
            <div class="form-group">
                <label for="longitude">Longitude:</label>
                <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude">
            </div>
            <button type="submit" class="btn btn-primary">Buscar Proprietário</button>
            <button type="button" class="btn btn-secondary" onclick="addUserMarker()">Adicionar Marcador</button>
            <button type="button" class="btn btn-success" onclick="exportPolygons()">Exportar Polígonos</button>
        </form>
    </div>

    <div id="main">
        <div id="openSidebar" class="btn-open-sidebar" onclick="toggleSidebar()">
            <img src="{{ url_for('static', filename='images/menu-icon.png') }}" alt="Abrir Sidebar">
        </div>
        <div id="map"></div>
    </div>

    <script src="{{ url_for('static', filename='libs/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/leaflet.draw.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        const data = {{ data|tojson }};
        addCentroides(data);

        function toggleSidebar() {
            const body = document.body;
            const sidebar = document.getElementById("sidebar");
            const main = document.getElementById("main");
            sidebar.classList.toggle("open");
            if (sidebar.classList.contains("open")) {
                body.classList.remove("closed-sidebar");
                body.classList.add("open-sidebar");
            } else {
                body.classList.remove("open-sidebar");
                body.classList.add("closed-sidebar");
            }
            setTimeout(() => {
                map.invalidateSize(); // Força o Leaflet a redimensionar o mapa corretamente
            }, 500); // Tempo deve ser igual ao da transição
        }
    </script>
</body>
</html>
